<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="~{/composant/bootstrapImports :: bootstrapImports}"></span>

</head>
<body>
<header>
    <span th:replace="~{/composant/buttonAccueil :: buttonAccueil}"></span>


</header>
<!-- formulaire et redirection vers la liste -->
<form th:action="@{/inscription}" th:object="${etudiant}" method="post">
    <div>
        <label for="nom">nom:</label>
        <input id="nom" name="nom" type="text" th:field="*{nom}">
        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>

    </div>
    <div>
        <label for="prenom">prenom:</label>
        <input id="prenom" name="prenom" type="text" th:field="*{prenom}">
        <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>

    </div>
    <div>
        <label for="age">age:</label>
        <input id="age" name="age" type="number" th:field="*{age}">
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>

    </div>
    <div>
        <label for="email">email:</label>
        <input id="email" name="email" type="text" th:field="*{email}">
    </div>
    <div>
        <label for="login">login:</label>
        <input id="login" name="login" type="text" th:field="*{login}">
    </div>
    <div>
        <label for="password">password:</label>
        <input id="password" name="password" type="password" th:field="*{password}">
    </div>

    <button type="submit">valider</button>
</form>

</body>
</html>